<div class="dashboard-container">
    <header class="dashboard-header">
        <div>
            <h1>Gestion De Inventario</h1>
        </div>

        <div class="user-info">
            <div class="user-details">
                <p>{{ username }} |</p>
                <span>{{ roleName }} |</span>
            </div>

            <div class="profile">
                <p>foto</p>
            </div>
        </div>
    </header>

    <div class="dashboard-layout">
        <aside class="sidebar">
            <nav class="menu">
                <a routerLink="/dashboard">Panel Principal</a>
                <a routerLink="/dashboard/products">Productos</a>
                <a routerLink="/dashboard/categories">Categorias</a>
                <a routerLink="/dashboard/suppliers">Proveedores</a>
                <a>Movimientos</a>
                <a>Usuarios</a>
                <a routerLink="/dashboard/roles">Roles</a>
                <a>Permisos</a>
            </nav>

            <div class="sidebar-foot">
                <button type="button" (click)="logout()">
                    Cerrar Sesión
                </button>
            </div>
        </aside>

        <main class="dashboard">
            <div class="dashboard-card">
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>

</div>