.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: auto;
    padding-top: 12px;
    padding-bottom: 6px;
}

.pagination-container button {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    background-color: #2F4550;
    color: #F4F4F9;
    cursor: pointer;
}

.pagination-container button:hover:not(:disabled) {
    background-color: #586F7C;
}

.pagination-container button:disabled {
    background-color: #B8DBD9;
    color: #586F7C;
    cursor: not-allowed;
}

.pagination-container span {
    color: #2F4550;
    font-weight: 500;
}